<div class="container mt-5">
  <h1>Edit island</h1>

  <%= render "form", island: @island %>

  <hr>
  <%= link_to islands_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
