<ul>
  <% @islands.each do |island| %>
  <%= link_to island_path(island) do %>
    <div>
        <li><%= island.name %></li>
    </div>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a new island", new_island_path %>
