
body {
  font-family: 'Gill Sans', sans-serif;
}

.container {
  width: 700px;
  color: azure;
  margin: auto;
}



.btn-secondary {
    transition-duration: 0.4s;
    border-style: solid;
}

.btn-secondary:hover {
  border: 2px solid #7dd87d;
  background-color: #7dd87d;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 5px #7dd87d;
  transform: scale(0);
  animation: scaleIn 1s forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
}


.list-group-item {
  padding: 10px 20px;
  margin: 5px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #e0e0e0;
}
