<div class="video-container">
  <iframe src="https://streamable.com/e/p63vke?controls=0&autoplay=1&mute=1&playsinline=1&loop=1"></iframe>
</div>

<div class="overlay">
</div>

<div id="text">
  <h1>Island Dreams, <strong>make your dream</strong> a <strong>reality</strong>!</h1>
  <br>
  <p>Want to escape? book with us</p>
  <a class="btn btn-ghost" href="islands" style="color:white;">Discover our offers</a>
</div>
