.navbar-lewagon {
  justify-content: space-between;
  background: (#167FFB, #0F60C4);
  padding: 1px 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  font-size: 20px;
}
img {
  border: 1px;
  padding: 1px 0;
  border: 2px solid #167FFB;
  border-radius: 2%;
}
